
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div class="header_home">
    <div class="nav_search">
        <div class="nav_search_title">Tìm kiếm</div>
        <div class="nav_search_content">
            <div class="nav_search_bg">
                <select id="loai_BDS">
                    <option value="" disabled selected>-- Loại bất động sản --</option>
                    <option value="1">Bán căn hộ chung cư</option>
                    <option value="2">Bán nhà riêng</option>
                    <option value="3">Bán nhà biệt thự, liền kề</option>
                    <option value="3">Bán nhà mặt phố</option>
                    <option value="4">Bán đất nền dự án</option>
                    <option value="5">Bán đất</option>
                    <option value="6">Bán trang trại, khu nghỉ dưỡng</option>
                    <option value="7">Bán kho, nhà xưởng</option>
                    <option value="8">Bán loại bất động sản khác</option>
                    <option value="9">Cho thuê căn hộ chung cư</option>
                    <option value="10">Cho thuê nhà riêng</option>
                    <option value="11">Cho thuê nhà mặt phố</option>
                    <option value="11">Cho thuê văn phòng</option>
                    <option value="11">Cho thuê phòng</option>
                    <option value="11">Cho thuê cửa nhà, ki ốt</option>
                    <option value="11">Cho thuê kho, nhà xưởng, đất</option>
                    <option value="11">Cho thuê loại bất động sản khác</option>
                </select>
                <select>
                    <option value="" disabled selected>-- Xã/Phường --</option>
                </select>
                <select>
                    <option value="" disabled selected>-- Dự án --</option>
                </select>
                <select>
                    <option value="" disabled selected>-- Diện tích --</option>
                </select>
                <select>
                    <option value="" disabled selected>-- Hướng nhà --</option>
                </select>
                <select>
                    <option value="" disabled selected>-- Số phòng ngủ --</option>
                </select>
                <select>
                    <option value="" disabled selected>-- Số đường trước nhà --</option>
                </select>
                <select>
                    <option value="" disabled selected>-- Mức giá --</option>
                </select>
                <select>
                    <option value="" disabled selected>-- Đường phố --</option>
                </select>
            </div>
            <div class="nav_search_btn">
                Tìm kiếm
            </div>
        </div>
    </div>
</div>

